.logo-container {
    width: 50px;
    height: 50px;
    margin-right: 1100px;
    border: white 2px solid;
    border-radius: 50%; 
}

.navbar {
    background-color: #212529;
    padding: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    height: 65px; /* Adjust based on logo height */
}

.navbar a {
    color: white;
}

.container {
    padding-top: 80px; /* Adjust based on navbar height */
}

.header-container .btn {
    margin-left: auto;
}
.profile-icon svg {
    fill: white;
    transition: transform 0.3s ease, fill 0.3s ease;
    margin-right: 25px;
}

.profile-icon svg {
    margin-right: 0;
    margin-left: 0px;
}

.notification-icon svg{
    margin-right: 10px !important;
}

.notification-icon svg:hover,
.translation-icon svg:hover,
.profile-icon svg:hover{
    transform: scale(1.2);
    fill: #d1d1d1;
}

.profile-icon {
    margin-left: 20px;  /* Adjust as needed */
}

.p-3,.text-bg-dark{
    background-color:whitesmoke !important;
    margin:0;
}
.d-flex{
    display:flex;
    align-items: center;
    justify-content: center;
}
.table-hover{
    padding:20px;
}
header{
    margin:0px !important;
}

.new-cont{
    background-color: green !important;
    color:white;
    display:flex;
    padding:10px;

    border-radius:10px;
    /* margin-left:30px !important; */
}

.container,.mt-5,.d-flex,.justify-content-end{
    /* width:100%; */
    padding:0px;
    margin:0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding-left:20px;
    padding-right: 20px;
}
.search-bar{
    width:50%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top:50px;
    margin-left:25vw;
    height:50px;
    border:1px solid black
}
.content-area {
    flex: 1;
    padding-top: 50px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(1, 0.8fr);
    gap: 10px;
}
.contract-card {
    border: 1px solid #0b0b0b;
    padding: 40px;
    cursor: pointer;
    border-radius:8px;
    margin-left:25%;
    margin-right:200px;
    margin-top:50px;
    background-color:green;
    color:white;

}
.farmer-list {
    margin-top: 20px;
}
.farmer-card{
    border: 1px solid #0b0b0b;
    padding: 40px;
    cursor: pointer;
    border-radius:8px;
    margin-left:100px;
    margin-right:200px;
    margin-top:50px;
    /* background-color:#c0f06e; */
}

.contract-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.notifications-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 16px;
    list-style-type: none;
    padding: 0;
}

.notification-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin:100px;
}

.notification-item-header {
    display:flex;
    margin-right:20px;
    margin-bottom: 12px;
    justify-content: space-between;
}
.notification-item-header h3 {
    margin: 10px;
    padding:10px;
    font-size: 18px;
}

.notification-item-header p {
    margin: 0;
    color: #121212;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}
